node_modules/
jspm_packages/
bower_components/
appwrite_cloud_functions/send_otp/appwrite.json
appwrite_cloud_functions/set_email_verified/appwrite.json
appwrite_cloud_functions/verify_otp/appwrite.json

npm-debug.log
yarn-error.log
yarn-debug.log
lerna-debug.log
.serverless

.env
.env.test
.custom-env

# cache files
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.eslintcache
.cache
.parcel-cache
.npm

# vs editor-related files
.vscode-test
.vscode

appwrite.json
.prettierrc.json